version: "3.3"

name: multimedia

networks:
  default:
    driver: bridge
  utilities_default:
    external: true

services:
  emby:
    image: linuxserver/emby:latest
    container_name: emby
    networks:
      - default
    pull_policy: missing
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.emby.rule=Host(`emby.${NETWORK_DOMAIN}`)"
      - "traefik.http.routers.emby.entrypoints=web"
    ports:
      - ${NETWORK_INTERFACE}:8096:8096/tcp
      - ${NETWORK_INTERFACE}:8920:8920/tcp
    volumes:
      - /mnt/fastpool/system/multimedia/emby/config:/config
      - /mnt/fastpool/system/multimedia/emby/system:/mnt/system
      - /mnt/rightpool/multimedia/movies:/mnt/movies
      - /mnt/rightpool/multimedia/series:/mnt/series
      - /mnt/rightpool/multimedia/music:/mnt/music
      - /mnt/rightpool/multimedia/pictures:/mnt/pictures
      - /mnt/leftpool/multimedia/phones:/mnt/phones
      - /mnt/rightpool/multimedia/games:/mnt/games
      - /mnt/rightpool/backup/automated/emby:/mnt/backup
    environment:
      - PGID=${APP_USER}
      - PUID=${APP_GROUP}
      - TZ=${APP_TIMEZONE}
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 1G
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8096/emby/System/Info/Public" ]
      interval: 1m30s
      timeout: 10s
      retries: 6
      start_period: 30s

  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    networks:
      - default
    pull_policy: missing
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.${NETWORK_DOMAIN}`)"
      - "traefik.http.routers.sonarr.entrypoints=web"
    ports:
      - ${NETWORK_INTERFACE}:8989:8989/tcp
    volumes:
      - /mnt/fastpool/system/multimedia/sonarr:/config
      - /mnt/rightpool/multimedia/downloads:/downloads
      - /mnt/rightpool/multimedia/series:/tv
      - /mnt/rightpool/backup/automated/sonarr:/backup
    environment:
      - PGID=${APP_USER}
      - PUID=${APP_GROUP}
      - TZ=${APP_TIMEZONE}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8989" ]
      interval: 1m30s
      timeout: 10s
      retries: 6
      start_period: 30s

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    networks:
      - default
    pull_policy: missing
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`radarr.${NETWORK_DOMAIN}`)"
      - "traefik.http.routers.radarr.entrypoints=web"
    ports:
      - ${NETWORK_INTERFACE}:7878:7878/tcp
    volumes:
      - /mnt/fastpool/system/multimedia/radarr:/config
      - /mnt/rightpool/multimedia/downloads:/downloads
      - /mnt/rightpool/multimedia/movies:/movies
      - /mnt/rightpool/backup/automated/radarr:/backup
    environment:
      - PGID=${APP_USER}
      - PUID=${APP_GROUP}
      - TZ=${APP_TIMEZONE}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7878" ]
      interval: 1m30s
      timeout: 10s
      retries: 6
      start_period: 30s

  lidarr:
    image: linuxserver/lidarr:latest
    container_name: lidarr
    networks:
      - default
    pull_policy: missing
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.lidarr.rule=Host(`lidarr.${NETWORK_DOMAIN}`)"
      - "traefik.http.routers.lidarr.entrypoints=web"
    ports:
      - ${NETWORK_INTERFACE}:8686:8686/tcp
    volumes:
      - /mnt/fastpool/system/multimedia/lidarr:/config
      - /mnt/rightpool/multimedia/downloads:/downloads
      - /mnt/rightpool/multimedia/music:/music
      - /mnt/rightpool/backup/automated/lidarr:/backup
    environment:
      - PGID=${APP_USER}
      - PUID=${APP_GROUP}
      - TZ=${APP_TIMEZONE}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8686" ]
      interval: 1m30s
      timeout: 10s
      retries: 6
      start_period: 30s

  sabnzbd:
    image: linuxserver/sabnzbd:latest
    container_name: sabnzbd
    networks:
      - default
    pull_policy: missing
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.sabnzbd.rule=Host(`sabnzbd.${NETWORK_DOMAIN}`)"
      - "traefik.http.routers.sabnzbd.entrypoints=web"
      - "traefik.http.services.sabnzbd-multimedia.loadbalancer.server.port=8181"
    ports:
      - ${NETWORK_INTERFACE}:8181:8181/tcp
    volumes:
      - /mnt/fastpool/system/multimedia/sabnzbd:/config
      - /mnt/rightpool/multimedia/downloads:/downloads
      - /mnt/rightpool/multimedia/downloads/watch:/watch
      - /mnt/rightpool/backup/automated/sabnzbd:/backup
    environment:
      - PGID=${APP_USER}
      - PUID=${APP_GROUP}
      - TZ=${APP_TIMEZONE}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8181" ]
      interval: 1m30s
      timeout: 10s
      retries: 6
      start_period: 30s

  sabnzbd-backup-cleaner:
    image: alpine
    container_name: sabnzbd-backup-cleaner
    user: "${APP_USER}:${APP_GROUP}"
    pull_policy: missing
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    volumes:
      - /mnt/rightpool/backup/automated/sabnzbd:/backup
    command: sh -c "while true; do find /backup -name 'sabnzbd_backup*' -mtime +7 -delete; sleep 86400; done"
    healthcheck:
      test: ["CMD", "sh", "-c", "test $(find /backup -name 'sabnzbd_backup*' | wc -l) -ge 0" ]
      interval: 5m
      timeout: 10s
      retries: 6
      start_period: 30s

  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    networks:
      - default
    pull_policy: missing
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.${NETWORK_DOMAIN}`)"
      - "traefik.http.routers.qbittorrent.entrypoints=web"
      - "traefik.http.services.qbittorrent-multimedia.loadbalancer.server.port=8282"
    ports:
      - ${NETWORK_INTERFACE}:8282:8282/tcp
      - ${NETWORK_INTERFACE}:6881:6881/tcp
      - ${NETWORK_INTERFACE}:6881:6881/udp
    volumes:
      - /mnt/fastpool/system/multimedia/qbittorrent:/config
      - /mnt/rightpool/multimedia/downloads:/downloads
      - /mnt/rightpool/multimedia/downloads/watch:/watch
    environment:
      - WEBUI_PORT=8282
      - TORRENTING_PORT=6881
      - PGID=${APP_USER}
      - PUID=${APP_GROUP}
      - TZ=${APP_TIMEZONE}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8282" ]
      interval: 1m30s
      timeout: 10s
      retries: 6
      start_period: 30s

  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    networks:
      - default
      - utilities_default
    pull_policy: missing
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.${NETWORK_DOMAIN}`)"
      - "traefik.http.routers.prowlarr.entrypoints=web"
    ports:
      - ${NETWORK_INTERFACE}:9696:9696/tcp
    volumes:
      - /mnt/fastpool/system/multimedia/prowlarr:/config
      - /mnt/rightpool/backup/automated/prowlarr:/backup
    environment:
      - PGID=${APP_USER}
      - PUID=${APP_GROUP}
      - TZ=${APP_TIMEZONE}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9696" ]
      interval: 1m30s
      timeout: 10s
      retries: 6
      start_period: 30s

  organizr:
    image: organizr/organizr:latest
    container_name: organizr
    networks:
      - default
    pull_policy: missing
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.organizr.rule=Host(`organizr.${NETWORK_DOMAIN}`)"
      - "traefik.http.routers.organizr.entrypoints=web"
      - "traefik.http.routers.organizr-empty.rule=Host(`${NETWORK_DOMAIN}`)"
      - "traefik.http.routers.organizr-empty.entrypoints=web"
    ports:
      - ${NETWORK_INTERFACE}:81:80/tcp
    volumes:
      - /mnt/fastpool/system/multimedia/organizr:/config
    environment:
      - PGID=${APP_USER}
      - PUID=${APP_GROUP}
      - TZ=${APP_TIMEZONE}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost" ]
      interval: 1m30s
      timeout: 10s
      retries: 6
      start_period: 30s

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    user: "${APP_USER}:${APP_GROUP}"
    networks:
      - default
    pull_policy: missing
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.ombi.rule=Host(`jellyseerr.${NETWORK_DOMAIN}`)"
      - "traefik.http.routers.ombi.entrypoints=web"
    ports:
      - ${NETWORK_INTERFACE}:5055:5055/tcp
    volumes:
      - /mnt/fastpool/system/multimedia/jellyseerr:/app/config
    environment:
      - TZ=${APP_TIMEZONE}
      - JELLYFIN_TYPE=emby
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:5055" ]
      interval: 1m30s
      timeout: 10s
      retries: 6
      start_period: 30s

  spotweb:
    image: jgeusebroek/spotweb:latest
    container_name: spotweb
    networks:
      - default
      - utilities_default
    pull_policy: missing
    restart: always
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.spotweb.rule=Host(`spotweb.${NETWORK_DOMAIN}`)"
      - "traefik.http.routers.spotweb.entrypoints=web"
    ports:
      - ${NETWORK_INTERFACE}:6868:80/tcp
    environment:
      - "SPOTWEB_DB_TYPE=pdo_mysql"
      - "SPOTWEB_DB_HOST=mariadb"
      - "SPOTWEB_DB_NAME=spotweb"
      - "SPOTWEB_DB_USER=spotweb"
      - "SPOTWEB_DB_PASS=${SPOTWEB_PASSWORD}"
      - "SPOTWEB_CRON_RETRIEVE=*/15 * * * *"
      - TZ=${APP_TIMEZONE}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost" ]
      interval: 1m30s
      timeout: 10s
      retries: 6
      start_period: 30s
