version: "3.3"

name: traefik

networks:
  default:
    driver: bridge
  multimedia_default:
    external: true
  utilities_default:
    external: true
  extras_default:
    external: true
  monitoring_default:
    external: true

services:
  traefik:
    image: "traefik:v3.2"
    container_name: "traefik"
    networks:
      - default
      - multimedia_default
      - utilities_default
      - extras_default
      - monitoring_default
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.web.address=:80"
      - "--entryPoints.web-secure.address=:443"
      - "--entryPoints.zabbix-tcp.address=:10051"
      - "--entryPoints.zabbix-udp.address=:10051/udp"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`${NETWORK_DOMAIN}`)"
      - "traefik.http.routers.traefik.entrypoints=web"
      - "traefik.http.services.traefik-traefik.loadbalancer.server.port=8080"
    ports:
      - "${NETWORK_INTERFACE}:80:80"
      - "${NETWORK_INTERFACE}:443:443"
      - "${NETWORK_INTERFACE}:8080:8080"
      - "${NETWORK_INTERFACE}:10051:10051/tcp"
      - "${NETWORK_INTERFACE}:10051:10051/udp"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  whoami:
    image: "traefik/whoami"
    container_name: "whoami"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`whoami.${NETWORK_DOMAIN}`)"
      - "traefik.http.routers.whoami.entrypoints=web"